<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1147679ae7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style.css">
    <title>2T Shop</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="../image/2T.png" alt="2T Shop Logo" width="120px" height="120px">
        </div>
        <div class="menu">
            <li><a href="">ÁO</a>
                <ul class="sub-menu">
                    <li><a href="">Áo thun</a></li>
                    <li><a href="">Áo somi</a></li>
                    <li><a href="">Áo kiểu</a></li>
                    <li><a href="">Áo croptop</a></li>
                    <li><a href="">Áo khoác</a></li>
                </ul>
            </li>
            <li><a href="">CHÂN VÁY</a>
                <ul class="sub-menu">
                <li><a href="">Chân váy công sở</a></li>
                <li><a href="">Chân váy jean</a></li>
                <li><a href="">Chân váy tennis</a></li>
                <li><a href="">Chân váy dài</a></li>
                <li><a href="">Chân váy ngắn</a></li>
                </ul>
                </li>
            <li><a href="">ĐẦM</a>
                <ul class="sub-menu">
                <li><a href="">Đầm princess</a></li>
                <li><a href="">Đầm body</a></li>
                <li><a href="">Đầm suông</a></li>
                <li><a href="">Đầm maxi</a></li>
                <li><a href="">Đầm dự tiệc</a></li>
                </ul>
            </li>
            <li><a href="">ĐỒ BỘ</a>
                <ul class="sub-menu">
                <li><a href="">Đồ mặc nhà</a></li>
                <li><a href="">Đồ ngủ</a></li>
                <li><a href="">Đồ bơi</a></li>
                </ul>
            </li>
            <li><a href="">QUẦN</a>
                <ul class="sub-menu">
                <li><a href="">Quần jean</a></li>
                <li><a href="">Quần baggi</a></li>
                <li><a href="">Quần jogger</a></li>
                <li><a href="">Quần tây</a></li>
                <li><a href="">Quần đùi</a></li>
                </ul>
            </li>
            <li><a href="">SET</a></li>
            <li><a href="">JUMSUIT</a></li>
            <li><a href="">PHỤ KIỆN</a></li>
        </div>
        <div class="other">
            <li><input type="text" placeholder="Search"><i class="fas fa-search"></i></li>
            <li><a class="fa fa-paw" href=""></a></li>
            <li><a class="fa fa-user" href=""></a></li>
            <li><a class="fa fa-shopping-bag" href=""></a></li>
        </div>
    </header>
</body>
</html>
